@model NamirniceDelivery.Web.ViewModels.AdministrativniRadnik.NamirnicaPartialViewModel

@{
    var url = "";
    if (Model.NamirnicaId == 0)
    {
        url = Url.Action("NamirnicaAdd");
    }
    else
    {
        url = Url.Action("NamirnicaEdit");
    }
}

<div class="modal fade" id="add-namirnica" tabindex="-1" role="dialog" aria-labelledby="addNamirnicaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="addNamirnicaLabel">Vrsta Namirnica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-post="@url">
                    <input type="hidden" asp-for="NamirnicaId" />
                    <div class="form-group">
                        <label asp-for="Naziv" class="control-label"></label>
                        <input asp-for="Naziv" class="form-control" />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KategorijaId"></label>
                        <select class="form-control" asp-for="KategorijaId">
                            @foreach (var kategorija in Model.KategorijaList)
                            {
                                if (kategorija.Id == Model.KategorijaId)
                                {
                                    <option selected value="@kategorija.Id">@kategorija.Naziv</option>
                                }
                                else
                                {
                                    <option value="@kategorija.Id">@kategorija.Naziv</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="KategorijaId" class="text-danger"></span>
                        <a asp-action="PregledKategorija">Dodaj novu kategoriju</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Spremi</button>
            </div>
        </div>
    </div>
</div>
