@model NamirniceDelivery.Web.ViewModels.AdministrativniRadnik.PregledNamirnicaViewModel
@{
    ViewData["Title"] = "Pregled Vrsta Namirnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modal-placeholder"></div>
<div class="text-center row justify-content-center">
    <div>
        <h1>Pregled Vrsta Namirnica</h1>
        <br />

        <div class="row">
            <div class="col-md-12 text-right mb-1">
                <button title="Dodaj novu vrstu namirnica" type="button" class="btn btn-success rounded" data-toggle="ajax-modal" data-target="#add-namirnica" data-url="@Url.Action("Namirnica")">
                    +
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-1">
                <select id="kategorijaFilter" onchange="filtrirajKategorija()" title="Filter po kategorijama">
                    <option value="0">Sve kategorije</option>
                    @foreach (var k in Model.KategorijaList)
                    {
                        if (Model.KategorijaId != 0)
                        {
                            if (k.Id == Model.KategorijaId)
                            {
                                <option selected value="@k.Id">@k.Naziv</option>
                                continue;
                            }
                        }
                        <option value="@k.Id">@k.Naziv</option>
                    }
                </select>
            </div>
        </div>

        <div class="row" id="dataStorage"></div>

        @if (!string.IsNullOrEmpty(Model.ReturnUrl))
        {
            <div>
                <a href="@Model.ReturnUrl">Idi nazad</a>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

            connection.start().then(function () {
                getData();
            });

            connection.on("Repopulate", function () {
                getData();
            });
        });

        function getData() {
            var container = $('#dataStorage');
            $.ajax({
                url: '/AdministrativniRadnik/PregledNamirnicaGetData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) { container.empty().append(result); })
        }

        function URL_add_parameter(url, param, value) {
            var hash = {};
            var parser = document.createElement('a');

            parser.href = url;

            var parameters = parser.search.split(/\?|&/);

            for (var i = 0; i < parameters.length; i++) {
                if (!parameters[i])
                    continue;

                var ary = parameters[i].split('=');
                hash[ary[0]] = ary[1];
            }

            hash[param] = value;

            var list = [];
            Object.keys(hash).forEach(function (key) {
                list.push(key + '=' + hash[key]);
            });

            parser.search = '?' + list.join('&');
            return parser.href;
        }
        function filtrirajKategorija() {
            var loc = URL_add_parameter('PregledNamirnicaGetData', 'kategorijaId', $("#kategorijaFilter").val());
            var container = $('#filtriranaData');
            $.ajax({
                url: loc,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) { container.empty().append(result); })
        }
    </script>
}




