@model NamirniceDelivery.ViewModels.AdminRadnikViewModel


<form method="post" asp-action="Radnik">
    <input asp-for="Id" type="hidden" />
    <label class="control-label">Ime</label>
    <input asp-for="@Model.Ime" class="form-control" />
    <label class="control-label">Prezime</label>
    <input asp-for="@Model.Prezime" class="form-control" />
    <label class="control-label">JMBG</label>
    <input asp-for="@Model.JMBG" class="form-control" />
    <label class="control-label">Username</label>
    <input asp-for="@Model.Username" class="form-control" />
    <label class="control-label">Password</label>
    <input asp-for="@Model.Password" class="form-control" />
    <label class="control-label">Općina boravka</label>

    <select asp-for="@Model.OpcinaIdBoravka" class="form-control">
        <option>Odaberi</option>
        @foreach (var i in Model.OpcineList)
        {
            <option value="@i.Id">@i.Naziv</option>
        }
    </select>
    <label class="control-label">Općina rođenja</label>

    <select asp-for="@Model.OpcinaIdRodjenja" class="form-control">
        <option>Odaberi</option>
        @foreach (var i in Model.OpcineList)
        {
            <option value="@i.Id">@i.Naziv</option>
        }
    </select>

    <label class="control-label">Podružnica</label>
    <select asp-for="@Model.PodruznicaId" class="form-control">
        <option>Odaberi</option>
        @foreach (var i in Model.PodruznicaList)
        {
            <option value="@i.Id">@i.Naziv</option>
        }
    </select>

    <br /><button type="submit" class="btn btn-primary">Potvrdi</button>
</form>

