@model  NamirniceDelivery.Web.ViewModels.Podruznica.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center row justify-content-center">
    <div class="">
        <div class="card text-white bg-secondary mb-3 rounded" style="width: 32rem;">
            <div class="card-body">
                <i class="material-icons" style="font-size: 60px;">account_balance</i><hr />
                @if (User.IsInRole("Kupac"))
                {
                    if (Model.IsFavourite_ZaKupca)
                    {
                        <a asp-controller="Kupac" asp-action="UkloniSpremljenuPodruznicu" asp-route-podruznicaId="@Model.PodruznicaId" asp-route-returnUrl="@Context.Request.Path"><i class="material-icons text-danger" title="Ukloni iz spremljenih">favorite</i></a>
                    }
                    else
                    {
                        <a asp-controller="Kupac" asp-action="DodajSpremljenuPodruznicu" asp-route-podruznicaId="@Model.PodruznicaId" asp-route-returnUrl="@Context.Request.Path"><i class="material-icons text-dark" title="Dodaj u spremljene">favorite</i></a>
                    }
                }
                <h1 class="card-title">Podružnica | @Model.Naziv</h1>
                <p class="card-text">
                    @Model.Opis
                    <br />
                    Općina: @Model.Opcina.Naziv
                    <br />
                    Adresa: @Model.Adresa
                    <br />
                </p>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
            <h2>Lista namirnica u ponudi</h2>
            <br />
            <partial name="_NamirnicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledNamirnicaPartialViewModel { NamirnicaPodruznicaList = Model.NamirnicaList, SpremljeneNamirniceList = Model.SpremljeneNamirniceList })" />
        </div>
        <br />
        @if (string.IsNullOrEmpty(Model.ReturnUrl))
        {
            <div>
                <a asp-controller="Home" asp-action="Index">Nazad na panel</a>
            </div>
        }
        else
        {
            <div>
                <a href="@Model.ReturnUrl">Idi nazad</a>
            </div>
        }
    </div>
</div>

