

@model NamirniceDelivery.Web.ViewModels.Podruznica.PregledPodruznicaVM
@{
    ViewData["Title"] = "PregledPodruznica";
}

<h1>Podrzav gospodin menadzer - @User.Identity.Name - Pregled Podruznica</h1>

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Općina</th>
                <th>Adresa</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var podruznica in Model.PodruznicaList)
            {
                <tr>
                    <td><a href="/Podruznica/Podruznica/@podruznica.Id">@podruznica.Naziv</a></td>
                    <td>@podruznica.Opis</td>
                    <td>@podruznica.Opcina.Naziv</td>
                    <td>@podruznica.Adresa</td>
                    <td><a asp-action="ObrisiPodruznica" asp-route-podruznicaId="@podruznica.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" asp-action="Podruznica">Dodaj novu podružnicu</a>
</div>

