

@model NamirniceDelivery.Web.ViewModels.Podruznica.PregledPodruznicaVM
@{
    ViewData["Title"] = "PregledPodruznica";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<h1>Pozdrav menadžer - @User.Identity.Name - Pregled Podruznica</h1>

<div class="table-responsive">
    <div class="card-header bg-dark text-light">
        <p class="h5">Pretraga podruznica: <br> </p>

        <input type="text" style="color:black; margin-left:5%;" id="myInput" onkeyup="myFunction()" placeholder="Pretrazi..">

    </div>
    <table class="table table-dark" id="myUL">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Općina</th>
                <th>Adresa</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var podruznica in Model.PodruznicaList)
            {
            <tr>
                @*<td><a href="/Podruznica/Podruznica/@podruznica.Id">@podruznica.Naziv</a></td>*@
                <td><a asp-action="Podruznica" asp-route-podruznicaId="@podruznica.Id">@podruznica.Naziv</a></td>


                <td>@podruznica.Opis</td>
                <td>@podruznica.Opcina.Naziv</td>
                <td>@podruznica.Adresa</td>
                <td><a asp-action="ObrisiPodruznica" asp-route-podruznicaId="@podruznica.Id">Delete</a></td>

            </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" asp-action="Podruznica">Dodaj novu podružnicu</a>
</div>

