@model NamirniceDelivery.ViewModels.KupacProfilViewModel

<table class="table table-bordered table-striped">
    <tr>
        <th>Ime</th>
        <td>@Model.Ime</td>
    </tr>
    <tr>
        <th>Prezime</th>
        <td>@Model.Prezime</td>
    </tr>
    <tr>
        <th>Adresa</th>
        <td>@Model.Adresa</td>
    </tr>
    <tr>
        <th>Općina</th>
        <td>@Model.NazivOpcineBoravista</td>
    </tr>
    <tr>
        <th>Rejting</th>
        <td>@Model.RejtingKupac</td>
    </tr>
</table>